* {
    box-sizing: border-box;
    font-family: "Helvetica Neue";
    margin: 0;
    padding: 0;
    /*border: 0;*/
}

#body {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #404040;
  background: #d9d9d9;
  /* Get rid of accidental text selection on drag */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
}

#header {
  /*overflow:hidden;*/
  height: 60px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #404040;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.title{
  /* height: 40px; */
  display: flex;
  justify-content: center;
  align-items: baseline;
}

#statcontent{
  float: left;
  position: fixed;
  top: 15;
}

#statcontent.sticky {
  top: 15;
}

.focus text{
  font-size:11px;
}

.app {
  display: flex;
  align-items: stretch;
}

.app-element{
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
}

#container-list-3d-table {
  width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-right: dashed;
  border-width: 1px;
  border-color: #404040
}

#container-list-3d {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: dashed;
  border-width: 1px;
  border-color: #404040
}

/* Stuff within container-list-3d-table */
#tractlist-with-title {width: 240px;}
#threejsbrain-with-title {
  width: 300px;
  flex-grow: 1;
}
#gui-container {
  display: flex;
  justify-content: flex-end;
}
#table-with-title {width: 100%}


#container-plots {
  width: 400px;
  flex-grow: 1;
}

#tractlist {
  /* Set a height restriction for the tract list. We can use a
   * ridiculously small number here because flexbox will grow
   * this item to match the height of the 3D window. We only
   * need the height to be less than that of the 3D window. */
  height: 1px;
  text-align: left;
}

#tractdetails {
  height: 1px;
  text-align: center;
}

#table {
  height: 300px;
  align: center;
}

.title-and-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.content {
  flex-grow: 1;
  border-radius: 10px;
  padding: 15px;
  background: #ffffff;
  margin-bottom: 10px;
}

#threejsbrain {
  cursor: pointer;
}

.scrollable {
  overflow-y: auto;
  overflow-x: auto;
}

#selectAllBox {
  font-weight: bold;
  cursor:pointer;
}

/*change label hover effect for checkbox*/
input[type=checkbox] {
    display:none;
}

input[type=checkbox]+label{
  line-height: 30px;
  cursor:pointer;
}

input[type=checkbox]:hover {
    -webkit-box-shadow: inset 0 0 2px 2px rgba(82,168,236,.6);
}

label, input[type=checkbox] {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

label:hover, label:active, input:hover+label, input:active+label {
    background:#ffffcc;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

.line {
  fill: none;
  stroke-linejoin: round;
  stroke-linecap:round;
}

.tracts {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}
.plot
{
  fill:#eeeeee;
  border-spacing: 10px;
}
.plot_text{
}

.row
{
    float: left;
    clear: none;
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}

/*Added for table*/
.t_header rect{
fill: #404040;
}

.t_header text{
    font: 13px;
    fill: #eeeeee;
    font-weight: bold;
    text-anchor: middle;
}

.cell rect{
 fill: #dddddd;
}

.cell text{
  font: 13px ;
  text-anchor: middle;
}

/* Graph axes */
.axis path,
.axis line {
    fill: none;
    stroke: #AFBABF;
    shape-rendering: crispEdges;
}
.axis text {
    font-size: 14px;
}

.x.axis path {
    display: none;
}
.y.axis path{
    display: none;
}

.brush .extent {
  stroke: #f09f8c;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
